/* General Layout */

body {
    background: #C72329;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkred;
}

header, footer, h1, h2 {
    border: 3px solid black;
    border-radius: 40px;
    padding: 2%;
    margin: 2% 0;
    text-align: center;
}